
a:link, a:visited, a:hover, a:active {
    color: #28c962;
    text-decoration: none;
    word-break: break-all;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

img {
    max-width: 100%;
}

td {
    font-size: 14px;
}

body {
    margin: 0px;
}
